<head>
    <link rel="stylesheet" href="{{url_for('static', filename = 'index.css')}}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>

    
    
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Game</a>
        <a href="/help">Help</a>
        <a href="/bug">Report Bug/Suggest Feature</a>
        <a target='_blank' rel='noopener noreferrer' href="/about">About</a>
    </div>
    <div id="depots" class="rounded-box">
        <div id="depots-title" class="title-section">
            <h3 class="titles-count">Lines (4)</h3>
            <input type="text" class="minimalistic-input" placeholder="Search" id="depots-search">
        </div>
        <div id="depots-body" class="body-section">
            <div class="depot-category">
                <h3>260 Bus</h3>
                <p>4 assigned</p>
                <button class="details-button">Details</button>
            </div>
            <div class="depot-category">
                <h3>269 Bus</h3>
                <p>6 assigned</p>
                <button class="details-button">Details</button>
            </div>
            <div class="depot-category">
                <h3>293 Bus</h3>
                <p>12 assigned</p>
                <button class="details-button">Details</button>
            </div>
            <div class="depot-category">
                <h3>630 Bus</h3>
                <p>2 assigned</p>
                <button class="details-button">Details</button>
            </div>

            <div class="depot-category">
                <h3>643 Bus</h3>
                <p>15 assigned</p>
                <button class="details-button">Details</button>
            </div>
            <div class="depot-category">
                <h3>731 Bus</h3>
                <p>37 assigned</p>
                <button class="details-button">Details</button>
            </div>
            <div class="depot-category">
                <h3>819 Bus</h3>
                <p>3 assigned</p>
                <button class="details-button">Details</button>
            </div>
            <div class="depot-category">
                <h3>822 Bus</h3>
                <p>7 assigned</p>
                <button class="details-button">Details</button>
            </div>
            <div class="depot-category">
                <h3>B Line</h3>
                <p>43 assigned</p>
                <button class="details-button">Details</button>
            </div>
        </div>
    </div>
    <div id="statistics-notifications">
        <div id="statistics" class="rounded-box">
            <div id="statistics-title" class="title-section">
                <h3 class="statistics-count">Statistics</h3>
            </div>
            <div id="statistics-body" class="body-section">
                <p><strong>Current time:</strong> 17:24:32</p>
                <p><strong>Budget:</strong> $127,102,131</p>
                <p><strong>Revenue:</strong> $3,189,219</p>
                <br>
                <p><strong>Bus utilization:</strong> 136/141 (96%)</p>
                <p><strong>Maintenance cost:</strong> $638,183</p>
                <br>
                <p><strong>Timeliness factor:</strong> 63%</p>
                <p><strong>Average rider satisfaction:</strong> 89%</p>
                <p><strong>Average driver satisfaction:</strong> 75%</p>
            </div>
        </div>
        <div id="notifications" class="rounded-box">
            <div id="notifications-title" class="title-section">
                <h3 class="notifications-count">Notifications</h3>
            </div>
            <div id="notifications-body" class="body-section">
                <p><strong>260 Bus</strong> break down (#83291) @ 3rd & Seneca</strong></p>
                <br>
                <p><strong>643 Bus</strong> break down (#83291) @ Pine and Alaskan</strong></p>
            </div>
        </div>
    </div>
    
    <div id="buttons" class="rounded-box">
        <div id="buttons-title" class="title-section">
            <h3 class="buttons-count">Options</h3>
        </div>
        <div id="buttons-body" class="body-section">
            <button class="purchase-button">Create Line</button>
            <br>
            <br>
            <button class="purchase-button">Create Stop</button>
            <br>
            <br>
            <button class="purchase-button">Create Depot</button>
        </div>
    </div>
    
    <div id="map"></div>
    
</body>

<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
<script src="{{url_for('static', filename = 'mapping.js')}}"></script>
<script src="{{url_for('static', filename = 'eventListeners.js')}}"></script>
<script src="{{url_for('static', filename = 'population.js')}}"></script>